/* ///////////////////////// Fonts */

/* Cinzel */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

/* Cinzel Decorative */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


/* Arista */

@font-face {}


/* Inconsolata */

/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap'); */

/*  */

.cinzel {
  font-family: 'Cinzel', serif;
}

.cinzel-decorative {
  font-family: 'Cinzel Decorative', cursive;
}


/*  */

.arista {}

/*  */

.uppercase {
  text-transform: uppercase;
}


/* ///////////////////////// Color Palette */

/* Color Palette */

/* blue */

/* 
Dark Blue
HEX: #1A1832 
*/

/* orange */

/*
Dark Medium Brown 
HEX: #F49731
*/

/* Background Colors */

/* Blue */

.DarkBlueBG{
background-color: #1A1832;
}

/* Orange */

.MediumOrangeBG{
background-color: #F49731;
}



/*  */

/* Typography Colors */

/* Blue */

.DarkBlueTypo{
  color: #1A1832;
  }
  
  /* Orange */
  
  .MediumOrangeTypo{
  color: #F49731;
  }
  
  /*  */

  /* General */

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: url('img/bg/tile.svg') top left repeat;
    text-align: left;
}

a {
  color: #FDFAE0;
  text-decoration: none;
}

a:hover {
  color: #5F5D4A;
  text-decoration: none;
}

/* link:hover {
  color: #F49731 !important;
} */

.btn-primary{
  background-color: #FDFAE0;
  color: #32361C;
  border: none;
}

.btn-primary:hover{
  background-color: #32361C;
  color:  #FDFAE0;
  border: none;
}

.btn-secondary {
  background-color: #32361C;
  color:  #FDFAE0;
  border: none;
}

.btn-secondary:hover {
  background-color: #FDFAE0;
  color: #32361C;
  border: none;
}

.btn-dark {
  background-color: #3A2C15;
  color:  #FDFAE0;
  border: none;
}

.btn-dark:hover {
  background-color: #FDFAE0;
  color: #3A2C15;
  border: none;
}

/* Navbar */

/* .nav-item{
  color: #F49731 !important;
} */

/*  */



*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Cinzel', serif; */
  scroll-behavior: smooth;
}
body
{
  min-height: 100vh;
  overflow-x: hidden;
  /* background: linear-gradient(#1A1832,#7597de); */
  background: #1A1832;

}

/*  */

/* header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
}
header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  list-style: none;
  margin-left: 20;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
  background: #fff;
  color: #2b1055;
} */

/*  */

#parallax
{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#parallax::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522, transparent );
  z-index: 1000;
}
#parallax img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
#parallax img#moon
{
  /* mix-blend-mode: screen;  */
}
#parallax img#mountain_front
{
  /* z-index: 10; */
}
#parallax img#firtree1
{
  z-index: 10;
}
#parallax img#firtree2
{
  z-index: 10;
}
#parallax img#firtree3
{
  z-index: 10;
}
#parallax img#firtree4
{
  z-index: 10;
}
#parallax img#shrubs
{
  z-index: 10;
}
#text
{
  position: absolute;
  right: -350px;
  color: #fff;
  font-space: 7.5vw;
  font-size: 7.5em;
  z-index: 9;
}
#btn
{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translate(100px);
}
.sec
{
  position:relative
  padding:100px;
  background: #1c0522;
}
.sec h2
{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.sec p
{
  font-size: 1.2em;
  color: #fff;
}

/*  */


.filter a {
	color: #000;
	/* border: 1px solid #000; */
	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px
}

.filter .current {
	background-color: #F7DF1E;
	border-color: #F7DF1E;
	color: #fff;
}

.filter {
	text-align: center;
	width: 100%;
}

.itemsContainer {
	width: 100%;
}

.itemsContainer .item {
	border-radius: 10px;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}


.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
	color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #F7DF1E;
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

/* Collaborators */

#collaborators .card-text {}
